<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>

<body>

    <div id="app">
        <div class="container mt-5">
            <div class="col-md-8 mb-5">
                <div class="card">
                    <div class="card-body">
                        <form @submit.prevent="submitForm()" class="row g-3">
                            <div class="col-md-6">
                                <label for="nama" class="form-label">Nama</label>
                                <input type="text" ref="name" v-model="name"
                                    :class="errors.length !== 0 ? 'is-invalid' : ''" class="form-control" id="nama"
                                    :disabled="buttonStatus == 'upload'">

                            </div>
                            <div class="col-md-6">
                                <label for="nohp" class="form-label">NO. HP</label>
                                <input type="number" name="no_hp" ref="no_hp" v-model="no_hp"
                                    :class="errors.length !== 0 ? 'is-invalid' : ''" class="form-control" id="nohp"
                                    :disabled="buttonStatus == 'upload'">

                            </div>
                            <div class="col-12">
                                <label for="inputAddress" class="form-label">Address</label>
                                <textarea type="text" ref="address" v-model="address"
                                    :class="errors.length !== 0 ? 'is-invalid' : ''" class="form-control"
                                    id="inputAddress" :disabled="buttonStatus == 'upload'"></textarea>
                                <div class="invalid-feedback">
                                    <ul>
                                        <li v-for="error in errors">{{ error }}</li>
                                    </ul>
                                </div>
                            </div>
                            <div v-if="buttonStatus == 'upload'" class="col-md-6">
                                <input class="form-control" type="file" name="photo_profile" ref="photo_profile">
                            </div>

                            <div v-if="buttonStatus == 'submit'" class="col-12">
                                <input type="submit" class="btn btn-primary" value="SUBMIT" />
                            </div>
                            <div v-else-if="buttonStatus == 'update'" class="col-12">
                                <input type="button" class="btn btn-primary" @click="updateMember(id)" value="UPDATE">
                                <input type="button" class="btn btn-success" value="CANCEL" @click="clearForm">
                            </div>
                            <div v-else-if="buttonStatus == 'upload'" class="col-12">
                                <input type="button" class="btn btn-primary" @click="submitPhoto(id)" value="UPLOAD">
                                <input type="button" class="btn btn-success" value="CANCEL" @click="clearForm">
                            </div>
                        </form>
                    </div>
                </div>

            </div>

            <table class="table table-bordered">
                <thead>
                    <th>Foto</th>
                    <th>Nama</th>
                    <th>Alamat</th>
                    <th>No. HP</th>
                    <th>Action</th>
                </thead>
                <tr v-for="member of members">
                    <td><img :src="member.photo_profile ? domain + member.photo_profile : 'https://source.unsplash.com/1200x900?profile'"
                            height="30" width="30" alt=""></td>
                    <td>{{ member.name }}</td>
                    <td>{{ member.address }}</td>
                    <td>{{ member.no_hp }}</td>
                    <td>
                        <button @click="editMember(member)" class="btn btn-warning">Edit</button>
                        <button @click="removeMember(member.id)" class="btn btn-danger">Hapus</button>
                        <button @click="uploadPhoto(member)" class="btn btn-info">Upload</button>
                    </td>
                </tr>
            </table>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
        integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13"
        crossorigin="anonymous"></script>
    <script>
        var vm = new Vue({
            el: '#app',
            data: {
                message: 'Hello Vue!',
                members: [],
                id: null,
                name: '',
                no_hp: '',
                address: '',
                domain: 'http://demo-api-vue.sanbercloud.com',
                errors: [],
                buttonStatus: 'submit',
            },

            methods: {
                validationForm: function () {
                    this.errors = []

                    if (this.name.length < 3) {
                        this.errors.push('Nama minimal 3 karakter')
                        this.$refs.name.focus()
                    }

                    if (this.address.length > 100) {
                        this.errors.push('Alamat tidak boleh lebih dari 100 karakter')
                        this.$refs.address.focus()
                    }

                    if (this.no_hp.length < 10) {
                        this.errors.push('Nomor HP tidak boleh kurang dari 10 karakter')
                        this.$refs.no_hp.focus()
                    }
                },

                clearForm: function () {
                    this.name = ''
                    this.address = ''
                    this.no_hp = ''
                    this.buttonStatus = 'submit'
                },

                submitForm: function () {
                    this.validationForm()

                    if (this.errors.length === 0) {
                        let formData = new FormData()
                        formData.append('name', this.name)
                        formData.append('address', this.address)
                        formData.append('no_hp', this.no_hp)

                        const config = {
                            method: "post",
                            url: `${this.domain}/api/member`,
                            data: formData
                        }

                        axios(config)
                            .then((response) => {
                                this.clearForm()
                                this.getMembers()
                                alert(response.data.message)
                            })
                            .catch((error) => {
                                console.log(error)
                            })
                    }
                },

                getMembers: function () {
                    const config = {
                        method: "get",
                        url: `${this.domain}/api/member`

                    }

                    axios(config)
                        .then((response) => {
                            this.members = response.data.members
                        })
                        .catch((error) => {
                            console.log(error)
                        })
                },

                editMember: function (e) {
                    this.id = e.id
                    this.name = e.name
                    this.address = e.address
                    this.no_hp = e.no_hp
                    this.buttonStatus = 'update'
                },

                updateMember: function (id) {

                    this.validationForm()

                    if (this.errors.length === 0) {
                        let formData = new FormData()
                        formData.append('name', this.name)
                        formData.append('address', this.address)
                        formData.append('no_hp', this.no_hp)

                        let config = {
                            method: "post",
                            url: `${this.domain}/api/member/${id}`,
                            params: {
                                _method: "PUT"
                            },
                            data: formData
                        }

                        axios(config)
                            .then((response) => {
                                this.clearForm()
                                this.getMembers()
                                alert(response.data.message)
                            })
                            .catch((error) => {
                                console.log(error)
                            })
                    }
                },

                removeMember: function (id) {
                    const config = {
                        method: "post",
                        url: `${this.domain}/api/member/${id}`,
                        params: {
                            _method: "DELETE"
                        }
                    }

                    axios(config)
                        .then((response) => {
                            this.clearForm()
                            this.getMembers()
                            alert(response.data.message)
                        })
                        .catch((error) => {
                            console.log(error)
                        })
                },

                uploadPhoto: function (e) {
                    this.id = e.id
                    this.name = e.name
                    this.address = e.address
                    this.no_hp = e.no_hp
                    this.buttonStatus = 'upload'
                },

                submitPhoto: function (id) {
                    let file = this.$refs.photo_profile.files[0]

                    let formData = new FormData()
                    formData.append('photo_profile', file)

                    let config = {
                        method: "post",
                        url: `${this.domain}/api/member/${id}/upload-photo-profile`,
                        data: formData
                    }

                    axios(config)
                        .then((response) => {
                            this.clearForm()
                            this.getMembers()
                            alert(response.data.message)
                        })
                        .catch((error) => {
                            console.log(error)
                        })
                }
            },

            created() {
                this.getMembers()
            },
        })
    </script>
</body>

</html>